<!DOCTYPE html>
<html>
  <head>
    {% include head.html %}
    {% include meta.html %}
    {% if page.description == '404' %}
      <script defer type="text/javascript" src="/js/404.js"></script>
    {% endif %}
  </head>
  <body>
    <div id="main-div">
      {% if page.cover %}
        {% assign coverImage = page.cover %}
      {% else %}
        {% assign coverImage = "/assets" | append: page.url | append: "cover.jpg" %}
      {% endif %}
      <div id="post-image-header">
        <img src="{{ coverImage }}">
      </div>
      <div id="post">
        <a class="close-post" href="/">
          <i class="fa fa-times fa-2x" aria-hidden="true"></i>
        </a>
        <div class="post-title">{{ page.title }}</div>
        {% if page.dates %}
          <div class="post-date">
            {{ page.dates }}
          </div>
        {% elsif page.artist %}
          <div class="post-artist">
            {{ page.artist }}
          </div>
        {% else %}
          <div class="post-date">
            {{ page.date | date: "%d %B %Y" }}
          </div>
        {% endif %}
        <content>
          {{ content }}
          {% include swipebox.html %}
        </content>
        <div class="home-link">
          <a href="/">
            <i class="fa fa-home fa-2x" aria-hidden="true"></i>
          </a>
        </div>
      </div>
    </div>
  </body>
</html>
