<!DOCTYPE html>
<html>
  <head>
    {% include head.html %}
    {% include meta.html %}
    {% include analytics.html %}
  </head>
  <body>
    <div id="main-div">
      <div id="post-image-header">
        {% assign coverImage = site.baseurl | append: page.cover %}
        <img src="{{ coverImage }}">
      </div>
      <div id="post">
        <a class="close-post" href="{{ site.baseurl }}/">
          <i class="fa fa-times fa-2x" aria-hidden="true"></i>
        </a>
        <div class="post-title">{{ page.title }}</div>
        {% if page.dates %}
          <div class="post-date">
            {{ page.dates }}
          </div>
        {% elsif page.artist %}
          <div class="post-artist">
            {{ page.artist }}
          </div>
        {% else %}
          <div class="post-date">
            {{ page.date | date: "%d %B %Y" }}
          </div>
        {% endif %}
        <content>
          {{ content }}
          {% include swipebox.html %}
        </content>
        <div class="home-link">
          <a href="{{ site.baseurl }}/">
            <i class="fa fa-home fa-2x" aria-hidden="true"></i>
          </a>
        </div>
      </div>
    </div>
  </body>
</html>
